// Place all the styles related to the Onts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.ont__info{
display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid green;
}

