// Place all the styles related to the Routers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.get_router_inner{
  padding: 20px 0;
}
.get_router_info{
  padding-top: 20px;
  height: 0;
  overflow: hidden;
}
.get_router_info-active{
  height: 100%;
}